
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/originals/a1/54/5a/a1545af41f5d1a653e03bbdd8d05cb48.png" alt="Night Witch" class='img-responsive'>
      <div class="caption">
        <h3>Night Witch</h3>
        <p class='description'>“Summons Bats to do her bidding, even after death! If you get too close, she isn't afraid of pitching in with her mean-looking battle staff.”</p>
        <div class="clearfix">
        <div class='price pull-left'>112 Gems</div>
        <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
      </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/originals/a1/54/5a/a1545af41f5d1a653e03bbdd8d05cb48.png" alt="Night Witch" class='img-responsive'>
      <div class="caption">
        <h3>Night Witch</h3>
        <p class='description'>“Summons Bats to do her bidding, even after death! If you get too close, she isn't afraid of pitching in with her mean-looking battle staff.”</p>
        <div class="clearfix">
        <div class='price pull-left'>112 Gems</div>
        <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
      </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/originals/a1/54/5a/a1545af41f5d1a653e03bbdd8d05cb48.png" alt="Night Witch" class='img-responsive'>
      <div class="caption">
        <h3>Night Witch</h3>
        <p class='description'>“Summons Bats to do her bidding, even after death! If you get too close, she isn't afraid of pitching in with her mean-looking battle staff.”</p>
        <div class="clearfix">
        <div class='price pull-left'>112 Gems</div>
        <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
      </div>
      </div>
    </div>
  </div>
</div>